{% extends 'base.html.twig' %}

{% block title %} Authentification {% endblock %}

{% block body %}
<form method="post" class="container mt-5 d-flex flex-column align-items-center">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes déjà authentifié en tant que {{ app.user.userIdentifier }} : <a href="{{ path('app_logout') }}">se déconnecter</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Renseignez vos informations de connexion</h1>

        <div class="form-floating mb-3 w-25">
            <input type="email" class="form-control" name="email" id="inputEmail" placeholder="name@example.com" value="{{ last_username }}" autocomplete="email" required autofocus>
            <label for="inputEmail">Adresse mail</label>
        </div>
        <div class="form-floating mb-3 w-25">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password" autocomplete="current-password" required>
            <label for="floatingPassword">Mot de passe</label>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-pink" type="submit">
            Se connecter
        </button>
</form>
{% endblock %}
