{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {{ form_start(registrationForm) }}
        <section class="container mt-5 d-flex flex-column align-items-center">

            <h1>Inscription</h1>

            <div class="mb-3 w-25">
                {{ form_row(registrationForm.lastname) }}
            </div>
            <div class="mb-3 w-25">
                {{ form_row(registrationForm.firstname) }}
            </div>
            <div class="mb-3 w-25">
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="mb-3 w-25">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}
            </div>
            <div class="mb-3 w-25">
                {{ form_row(registrationForm.agreeTerms, {
                    label: 'Accepter les termes'
                }) }}
            </div>

            <button type="submit" class="btn btn-lg btn-pink">Créer le compte</button>
        </section>
    {{ form_end(registrationForm) }}
{% endblock %}
