{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% block body %}
	<aside class="d-lg-block d-none">
		{% include './office/map.html.twig' %}
	</aside>
	<div class="container-fluid">
		<div class="row">
			<div id="Local3">
				<img src="{{ asset('img/Local3.svg') }}" alt="">
			</div>
			<div class="col-12 col-lg-7 FauxTitre">
				<h1>Around The Corner</h1>
				<h2>Des bureaux à louer à proximité de chez vous</h2>
			</div>
			<div id="Local1">
				<img src="{{ asset('img/Local1.png') }}" alt="">
			</div>
			<div id="Local2">
				<img src="{{ asset('img/Local2.png') }}" alt="">
			</div>
			<div class="Titre col-10 col-lg-7">
				<h1>Around The Corner</h1>
				<h2>Des bureaux à louer à proximité de chez vous</h2>
			</div>
			<div id="ImgPC" class="col-4 d-none d-lg-block">
				<img src="{{ asset('img/bureau.png') }}" alt="">
			</div>
		</div>
	</div>
	<div class="offices-container pb-5 container col-lg-7 col-10">
		<div class="offices-wrapper">
			<div class="offices-search">
				<form method="POST" action="{{ path('app_home') }}" id="searchForm">
					<div class="offices-container-search d-flex justify-content-between mb-5">
						<input type="text" name="search" placeholder="Rechercher">
						<button class="btn btn-icon search">
							<i class="fa-solid fa-magnifying-glass my-auto"></i>
						</button>
					</div>
					<div class="offices-filter mb-4 row">
						<div class="minimum-price col-xl-2 col-sm-5 p-0">
							<input placeholder="Prix minimum" type="number" name="minimum-price" id="minimum-price">
						</div>
						<div class="maximum-price col-xl-2 col-sm-5 p-0">
							<input placeholder="Prix maximum" type="number" name="maximum-price" id="maximum-price">
						</div>
						<input type="date" class="col-xl-2 col-sm-5">
						<select name="stars" id="stars" class="col-xl-2 col-sm-5">
							<option value="">Par note</option>
						</select>
						<select name="caracteristics" id="caracteristics" class="col-xl-3 col-sm-5">
							<option value="" selected>---------</option>
							{% for caracteristic in caracteristics %}
								<option value="{{ caracteristic.id }}">{{ caracteristic.libelle }}</option>
							{% endfor %}
						</select>
					</div>
				</form>
				<div class="offices-list">
					{% for office in offices %}
						{% include "./home/_officeItem.html.twig" with {'office': office, 'historic': false} %}
					{% endfor %}
					{{ knp_pagination_render(offices, 'knp_pagination/knp_pagination.html.twig', {}, {'pageMax' :
				(offices.getTotalItemCount() / offices.getItemNumberPerPage()) | round(0, 'ceil') }) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
