{# default Sliding pagination control implementation #}
{% if pageCount > 1 %}
<div class="custom_knp_pagination pagination d-flex justify-content-between">
    {% if previous is defined %}
    <span class="previous">
        <a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
            <i class="fa-solid fa-arrow-left"></i><span class="d-sm-inline d-none">Précédent</span>
        </a>
    </span>
    {% else %}
    <span class="previous disabled">
        <i class="fa-solid fa-arrow-left"></i><span class="d-sm-inline d-none">Précédent</span>
    </span>
    {% endif %}
    <div class="pageMinAndMax">
        {% if first is defined %}
        <span class="d-sm-inline d-none">Page</span>
        <span class="first">
            {{current}}
        </span>
        {% endif %}
        -
        {% if last is defined %}
        <span class="last">
            {{ pageMax }}
        </span>
        {% endif %}
    </div>

    {% if next is defined %}
    <span class="next">
        <a rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">
            <span class="d-sm-inline d-none">Suivant</span>
            <i class="fa-solid fa-arrow-right"></i>
        </a>
    </span>
    {% else %}
    <span class="next disabled">
        <span class="d-sm-inline d-none">Suivant</span>
        <i class="fa-solid fa-arrow-right"></i>
    </span>
    {% endif %}
</div>
{% endif %}