<form method="post" action="{{ path('app_caracteristics_delete', {'id': caracteristic.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ caracteristic.id) }}">
    <button class="btn">Delete</button>
</form>
