{% extends 'base.html.twig' %}

{% block title %}Edit Caracteristics{% endblock %}

{% block body %}
    <h1>Edit Caracteristics</h1>

    {{ include('caracteristics/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_caracteristics_index') }}">back to list</a>

    {{ include('caracteristics/_delete_form.html.twig') }}
{% endblock %}
