{% extends 'base.html.twig' %}

{% block title %}Caracteristics index{% endblock %}

{% block body %}
    <h1>Caracteristics index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Type</th>
                <th>Multiple</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for caracteristic in caracteristics %}
            <tr>
                <td>{{ caracteristic.id }}</td>
                <td>{{ caracteristic.libelle }}</td>
                <td>{{ caracteristic.type }}</td>
                <td>{{ caracteristic.multiple }}</td>
                <td>
                    <a href="{{ path('app_caracteristics_show', {'id': caracteristic.id}) }}">show</a>
                    <a href="{{ path('app_caracteristics_edit', {'id': caracteristic.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_caracteristics_new') }}">Create new</a>
{% endblock %}
