{% extends 'base.html.twig' %}

{% block title %}New Caracteristics{% endblock %}

{% block body %}
    <h1>Create new Caracteristics</h1>

    {{ include('caracteristics/_form.html.twig') }}

    <a href="{{ path('app_caracteristics_index') }}">back to list</a>
{% endblock %}
