{% extends 'base.html.twig' %}

{% block title %}Caracteristics{% endblock %}

{% block body %}
    <h1>Caracteristics</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ caracteristic.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ caracteristic.libelle }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ caracteristic.type }}</td>
            </tr>
            <tr>
                <th>Multiple</th>
                <td>{{ caracteristic.multiple }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_caracteristics_index') }}">back to list</a>

    <a href="{{ path('app_caracteristics_edit', {'id': caracteristic.id}) }}">edit</a>

    {{ include('caracteristics/_delete_form.html.twig') }}
{% endblock %}
