<div class="modal modal-xl fade" id="updateUserInformation" tabindex="-1" aria-labelledby="updateUserInformationLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="update-profile-title mb-5">
                            <h2> Mon profil </h2>
                            <h6> Gérez les paramètres de mon profil </h6>
                        </div>
                        <div class="update-profile-form">
                            <div class="mb-3 profile-form-field">
                                <label for="firstname">Prénom</label>
                                <input type="text" class="profile-form-control" id="user-firstname"
                                       value="{{ app.user.firstname }}">
                            </div>
                            <div class="mb-3 profile-form-field">
                                <label for="lastname">Nom</label>
                                <input type="text" class="profile-form-control" id="user-lastname"
                                       value="{{ app.user.lastname }}">
                            </div>
                            <div class="mb-3 profile-form-field">
                                <label for="address">Adresse</label>
                                <input type="text" class="profile-form-control" id="user-address"
                                       value="{{ app.user.address }}">
                            </div>
                            <div class="mb-3 profile-form-field">
                                <label for="city">Ville</label>
                                <input type="text" class="profile-form-control" id="user-city" value="{{ app.user.city }}">
                            </div>
                            <div class="mb-3 profile-form-field">
                                <label for="email">Adresse mail</label>
                                <input type="email" class="profile-form-control" id="user-email"
                                       value="{{ app.user.email }}">
                            </div>
                            <div class="mb-3 profile-form-field">
                                <label for="phone">Numéro de téléphone</label>
                                <input type="text" class="profile-form-control" id="user-phone" value="{{ app.user.phone }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 d-flex flex-column gap-4 align-items-center">
                        <div class="update-profile-title">
                            <h2> Ma photo de profil </h2>
                        </div>
                        <div class="update-profile-picture">
                            <div class="picture">
                                <img width="100%"
                                     src="{{ app.user and app.user.profilePictureUrl ? app.user.profilePictureUrl : asset('img/unknown.png') }}"
                                     alt="photo de profil" id="profilePictureUrlPreview">
                            </div>
                            <div class="actions">
                                <button class="btn btn-pink" id="uploadPicture" data-bs-target="#uploadPictureModal"
                                        data-bs-toggle="modal" data-bs-dismiss="modal">Changer de photo</button>
                                <button class="btn btn-outline-pink" id="deletePicture"> <i
                                            class="fa-solid fa-trash"></i> Supprimer</button>
                            </div>
                        </div>
                        <div class="update-profile-picture-tooltip"> Ajoutez votre photo. La taille recommandée est de
                            256x256 </div>
                        <div class="update-profile-informations">
                            <h2>Renforcez votre confiance</h2>
                            <p>Votre photo apparait sur les annonces des bureaux que vous mettez à disposition, et sur
                                vos réservation</p>
                            <p>Cela permet à vos interlocuteurs d'avoir plus facilement confiance en vous !</p>
                        </div>

                        <button type="button" class="btn btn-pink w-50" id="updateProfileBtn"
                                data-userId="{{ app.user.id }}">Enregistrer</button>

                        <form method="post" action="{{ path('app_user_delete', {'id': app.user.id}) }}"
                              onsubmit="return confirm('Etes-vous sûr de vouloir supprimer votre compte ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
                            <span class="d-inline-block" tabindex="0" data-bs-toggle="popover"
                                  data-bs-trigger="hover focus"
                                  data-bs-content="Cette action est irreversible, attention avec ça !">
                                <button class="btn btn-delete">Supprimer mon compte</button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="uploadPictureModal" aria-hidden="true" aria-labelledby="uploadPictureModalLabel"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body update-profile-form d-flex flex-column">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="mb-3 profile-form-field">
                    <label for="profilePictureUrl">Insérer l'url de votre image</label>
                    <input type="text" class="profile-form-control" id="profilePictureUrl"
                           value="{{ app.user.profilePictureUrl }}">
                </div>

                <button class="btn btn-pink align-self-center" data-bs-target="#updateUserInformation"
                        data-bs-toggle="modal" data-bs-dismiss="modal" id="updateUserProfilePicture">Valider</button>
            </div>
        </div>
    </div>
</div>