<div class="modal modal-xl fade" id="modalBureau" tabindex="-1" aria-labelledby="modalBureau" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="row">
                    <div class="update-profile-title text-center mb-5">
                        <h2> Ajouter un bureau </h2>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="update-profile-form">
                            <div class="mb-3 profile-form-field">
                                <label for="name">Nom</label>
                                <input type="text" class="profile-form-control" id="office-name">
                            </div>
                            <div class="mb-3 profile-form-field">
                                <label for="adresse">Adresse</label>
                                <input type="text" class="profile-form-control" id="office-address">
                            </div>
                            <div class="mb-3 profile-form-field">
                                <label for="city">Ville</label>
                                <input type="text" class="profile-form-control" id="office-city">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-7">
                        <div class="update-profile-form">
                            <div class="mb-3 row office-form-caracteristics">
                                <h2 class="update-title">Caractéristiques</h2>
                                <div class="col-6">
                                    {% for caracteristic in caracteristics | slice(0, 4) %}
                                        <div class="form-check">
                                            <input value="{{ caracteristic.id }}" class="form-check-input profile-form-control" type="checkbox" id="{{ caracteristic.id }}">
                                            <label class="form-check-label desc ps-2" for="flexCheckDefault">
                                                {{ caracteristic.libelle }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="col-6">
                                    {% for caracteristic in caracteristics | slice(4, caracteristics|length) %}
                                        <div class="form-check">
                                            <input value="{{ caracteristic.id }}" class="form-check-input profile-form-control" type="checkbox" id="{{ caracteristic.id }}">
                                            <label class="form-check-label desc ps-2" for="flexCheckDefault">
                                                {{ caracteristic.libelle }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-6 profile-form-field">
                                    <div class="mb-3 profile-form-field">
                                        <h2 class="update-title">Prix à la demi-journée</h2>
                                        <div class="d-flex align-items-center">
                                            <input type="text" class="profile-form-control col-3" id="office-price">
                                            <label for="price" class="ps-2">€</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 profile-form-field">
                                    <div class="mb-3 profile-form-field">
                                        <h2 class="update-title">Nombre de places</h2>
                                        <div class="d-flex align-items-center">
                                            <input type="text" class="profile-form-control col-3" id="office-places">
                                            <label for="places" class="ps-2">Personnes</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <h2 class="update-title">Disponibilité (chaque semaine)</h2>
                        <div class="row update-profile-form office-form-dispo">
                            <div class="form-check col-2">
                                <input class="form-check-input profile-form-control" type="checkbox" id="monday">
                                <label class="form-check-label desc ps-2" for="flexCheckDefault">
                                    Lundi
                                </label>
                            </div>
                            <div class="form-check col-2">
                                <input class="form-check-input profile-form-control" type="checkbox" id="tuesday">
                                <label class="form-check-label desc ps-2" for="flexCheckDefault">
                                    Mardi
                                </label>
                            </div>
                            <div class="form-check col-2">
                                <input class="form-check-input profile-form-control" type="checkbox" id="wednesday">
                                <label class="form-check-label desc ps-2" for="flexCheckDefault">
                                    Mercredi
                                </label>
                            </div>
                            <div class="form-check col-2">
                                <input class="form-check-input profile-form-control" type="checkbox" id="thursday">
                                <label class="form-check-label desc ps-2" for="flexCheckDefault">
                                    Jeudi
                                </label>
                            </div>
                            <div class="form-check col-2">
                                <input class="form-check-input profile-form-control" type="checkbox" id="friday">
                                <label class="form-check-label desc ps-2" for="flexCheckDefault">
                                    Vendredi
                                </label>
                            </div>
                        </div>
                    </div>

                    <button type="button" id="updateOfficeBtn" data-officeId="" class="btn text-center btn-pink col-6 offset-3">Enregistrer</button>
                    <button type="button" id="addOfficeBtn" class="btn text-center btn-pink col-6 offset-3">Ajouter</button>

                </div>
            </div>
        </div>
    </div>