{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.min.css"/>
{% endblock %}

{% block body %}
	<div id="mapid" style="width: 400px; height: 400px; "></div>
{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.min.js"></script>
{% endblock %}

{% block javascripts_page %}
    {{ encore_entry_script_tags('office') }}
{% endblock %}
