{% extends 'base.html.twig' %}

{% block title %}Office
{% endblock %}

{% block javascripts_page %}
    {{ encore_entry_script_tags('calendar') }}
{% endblock %}


{% block body %}
	<div class="container-md mt-5">
	<div style="z-index: -10000;" id="local-4">
        <img src="{{ asset('img/Local4.svg') }}" alt="">
    </div>
    <div style="z-index: -10000;" id="local-2">
        <img src="{{ asset('img/Local2.svg') }}" alt="">
    </div>
	<div style="z-index: -10000;" id="local-3">
        <img src="{{ asset('img/Local3.svg') }}" alt="">
    </div>
		<div class="row align-items-start">
			<div class="col-lg-8 col-12 row">
				<div class="col-lg-9 col-12">
					<img class="imgBureau" src="https://media.istockphoto.com/id/1177797403/fr/photo/immeubles-dappartements-modernes-sur-une-journ%C3%A9e-ensoleill%C3%A9e-avec-un-ciel-bleu.jpg?s=612x612&w=0&k=20&c=RYVqzUo-p9hfMYyHIQyicLMgO84SjLZe70j_CNXaAI0=" alt="">
				</div>
				<hr class="mb-5 mt-5 w-75"/>

				<div class="office-header-content ">
                	<h2>{{ office.name }}</h2>
                	<p>{{ office.adress }}</p>
            	</div>

				<div class="office-stars d-flex col-12 col-lg-6 mt-5">
					{% if office.id == 31 %}
                    <i class="fa-solid fa-star d-sm-block d-none"></i>
                    <i class="fa-solid  fa-star d-sm-block d-none"></i>
                    <i class="fa-solid  fa-star d-sm-block d-none"></i>
                    <i class="fa-solid  fa-star d-sm-block d-none"></i>
                    <i class="fa-regular fa-star d-sm-block d-none"></i>
                    <p id="office-note">4.2</p>
                    {% elseif office.id == 32 %}
                    <i class="fa-solid fa-star d-sm-block d-none"></i>
                    <i class="fa-solid  fa-star d-sm-block d-none"></i>
                    <i class="fa-solid  fa-star d-sm-block d-none"></i>
                    <i class="fa-solid  fa-star d-sm-block d-none"></i>
                    <i class="fa-regular fa-star d-sm-block d-none"></i>
                    <p id="office-note">4.0</p>
                    {% elseif office.id == 33 %}
                    <i class="fa-solid fa-star d-sm-block d-none"></i>
                    <i class="fa-solid  fa-star d-sm-block d-none"></i>
                    <i class="fa-solid  fa-star d-sm-block d-none"></i>
                    <i class="fa-solid  fa-star d-sm-block d-none"></i>
                    <i class="fa-solid  fa-star d-sm-block d-none"></i>
                    <p id="office-note">5.0</p>
                    {% elseif office.id == 34 %}
                    <i class="fa-solid fa-star d-sm-block d-none"></i>
                    <i class="fa-solid  fa-star d-sm-block d-none"></i>
                    <i class="fa-regular  fa-star d-sm-block d-none"></i>
                    <i class="fa-regular  fa-star d-sm-block d-none"></i>
                    <i class="fa-regular  fa-star d-sm-block d-none"></i>
                    <p id="office-note">2.3</p>
                    {% elseif office.id == 35 %}
                    <i class="fa-solid fa-star d-sm-block d-none"></i>
                    <i class="fa-solid  fa-star d-sm-block d-none"></i>
                    <i class="fa-solid  fa-star d-sm-block d-none"></i>
                    <i class="fa-solid  fa-star d-sm-block d-none"></i>
                    <i class="fa-regular  fa-star d-sm-block d-none"></i>
                    <p id="office-note">4.5</p>
					{% else %}
					<i class="fa-regular  fa-star d-sm-block d-none"></i>
                    <i class="fa-regular  fa-star d-sm-block d-none"></i>
                    <i class="fa-regular  fa-star d-sm-block d-none"></i>
                    <i class="fa-regular  fa-star d-sm-block d-none"></i>
                    <i class="fa-regular  fa-star d-sm-block d-none"></i>
                    <p id="office-note">0</p>
                    {% endif %}
				</div>

				<div class="office-stuff col-12 col-lg-6 mt-5 mb-4">
				{% for caracteristic in caracteristics %}
                    {% if caracteristic in office.caracteristics %}
						{% if caracteristic.id == 1 %} 
						<i class="fa-solid fa-laptop" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Equipé (écran, clavier, ...)" data-bs-original-title="Equipé (écran, clavier, ...)"></i>
						{% elseif caracteristic.id == 2%}
						<i class="fa-solid fa-wifi" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Wifi" data-bs-original-title="Wifi"></i>
						{% elseif caracteristic.id == 3 %}
						<svg xmlns="http://www.w3.org/2000/svg" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Accès à une cuisine" data-bs-original-title="Accès à une cuisine" height="24" width="24" style="margin-right: 10px;" viewBox="0 96 960 960" width="48"><path d="M140 896q-24.75 0-42.375-17.625T80 836V316q0-24.75 17.625-42.375T140 256h680q24.75 0 42.375 17.625T880 316v520q0 24.75-17.625 42.375T820 896H140Zm0-60h680V316H140v520Zm60-60h400V376H200v400Zm520.175 0q12.825 0 21.325-8.675 8.5-8.676 8.5-21.5 0-12.825-8.675-21.325-8.676-8.5-21.5-8.5-12.825 0-21.325 8.675-8.5 8.676-8.5 21.5 0 12.825 8.675 21.325 8.676 8.5 21.5 8.5ZM260 716V436h280v280H260Zm460.175-110q12.825 0 21.325-8.675 8.5-8.676 8.5-21.5 0-12.825-8.675-21.325-8.676-8.5-21.5-8.5-12.825 0-21.325 8.675-8.5 8.676-8.5 21.5 0 12.825 8.675 21.325 8.676 8.5 21.5 8.5Zm0-170q12.825 0 21.325-8.675 8.5-8.676 8.5-21.5 0-12.825-8.675-21.325-8.676-8.5-21.5-8.5-12.825 0-21.325 8.675-8.5 8.676-8.5 21.5 0 12.825 8.675 21.325 8.676 8.5 21.5 8.5ZM140 836V316v520Z"/></svg>
						{% elseif caracteristic.id == 4 %}
						<svg xmlns="http://www.w3.org/2000/svg" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Salle de repos" data-bs-original-title="Salle de repos" height="22" width="24" style="margin-right: 10px;" viewBox="0 96 960 960" width="48"><path d="M193 936q-12 0-21-9t-9-21v-42h-13q-45.833 0-77.917-32.083Q40 799.833 40 754V510q0-51 31-77.5t73-26.5v-86q0-46 29-75t75-29h465q46 0 74.5 29t28.5 75v86q42 0 73 26.5t31 77.5v244q0 45.833-32.083 77.917Q855.833 864 810 864h-13v42q0 12-9 21t-21 9q-12 0-21-9t-9-21v-42H223v42q0 12-9 21t-21 9Zm-43-132h660q20 0 35-15t15-35V510q0-20-12-32t-32-12q-20 0-32 12t-12 32v176H188V510q0-20-12-32t-32-12q-20 0-32 12t-12 32v244q0 20 15 35t35 15Zm98-178h464V510q0-31 14-51.5t30-32.5V320q0-20-12-32t-31.742-12H247.742Q228 276 216 288t-12 32v106q16 12 30 32.5t14 51.5v116Zm232 0Zm0 178Zm0-118Z"/></svg>
						{% elseif caracteristic.id == 5 %}
						<svg xmlns="http://www.w3.org/2000/svg" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Connexion éthernet" data-bs-original-title="Connexion éthernet" height="24" width="24" style="margin-right: 10px;" viewBox="0 96 960 960" width="48"><path d="M120 976V706h120V546h210V446H330V176h300v270H510v100h210v160h120v270H540V706h120V606H300v100h120v270H120Zm270-590h180V236H390v150ZM180 916h180V766H180v150Zm420 0h180V766H600v150ZM480 386ZM360 766Zm240 0Z"/></svg>
						{% elseif caracteristic.id == 6 %}
						<svg xmlns="http://www.w3.org/2000/svg" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Présence de résidents" data-bs-original-title="Présence de résidents" height="24" width="24" style="margin-right: 10px;" viewBox="0 96 960 960" width="48"><path d="M480 575q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM160 896v-94q0-38 19-65t49-41q67-30 128.5-45T480 636q62 0 123 15.5t127.921 44.694q31.301 14.126 50.19 40.966Q800 764 800 802v94H160Zm60-60h520v-34q0-16-9.5-30.5T707 750q-64-31-117-42.5T480 696q-57 0-111 11.5T252 750q-14 7-23 21.5t-9 30.5v34Zm260-321q39 0 64.5-25.5T570 425q0-39-25.5-64.5T480 335q-39 0-64.5 25.5T390 425q0 39 25.5 64.5T480 515Zm0-90Zm0 411Z"/></svg>
						{% elseif caracteristic.id == 7 %}
						<svg xmlns="http://www.w3.org/2000/svg" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Climatisation" data-bs-original-title="Climatisation" height="24" width="24" style="margin-right: 10px;" viewBox="0 96 960 960" width="48"><path d="M820 576H140q-24.75 0-42.375-17.625T80 516V236q0-24.75 17.625-42.375T140 176h680q24.75 0 42.375 17.625T880 236v280q0 24.75-17.625 42.375T820 576ZM170 855v-60q50 0 85-34.708 35-34.709 35-84.292h60q0 75-52.65 127T170 855Zm620 0q-75 0-127-52t-52-127h60q0 50 34.708 84.5Q740.417 795 790 795v60Zm-340 41V676h60v220h-60Zm370-380H140h680Zm-570 0V406q0-24.75 17.625-42.375T310 346h340q24.75 0 42.375 17.625T710 406v110h-60V406H310v110h-60Zm-110 0h680V236H140v280Z"/></svg>
						{% elseif caracteristic.id == 8 %}
						<svg xmlns="http://www.w3.org/2000/svg" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Calme" data-bs-original-title="Calme" height="24" width="24" style="margin-right: 10px;" viewBox="0 96 960 960" width="48"><path d="M813 1000 681 868q-28 20-60.5 34.5T553 925v-62q23-7 44.5-15.5T638 825L473 659v237L273 696H113V456h156L49 236l43-43 764 763-43 44Zm-36-232-43-43q20-34 29.5-71.923T773 575q0-103.322-60-184.661T553 287v-62q124 28 202 125.5T833 575q0 51-14 100t-42 93ZM643 634l-90-90V414q47 22 73.5 66t26.5 96q0 15-2.5 29.5T643 634ZM473 464 369 360l104-104v208Zm-60 286V600l-84-84H173v120h126l114 114Zm-42-192Z"/></svg>
						{% endif %}
                    {% endif %}
                {% endfor %}
				</div>

				<p>{{office.description}}</p>
			</div>

			<div style="background-color: white;" class="col-12 col-lg-4 shadow p-3 mb-5 bg-body-tertiary rounded">
				<div class="container text-center">
					<div class="row align-items-start justify-content-center">
						<h3 class="mt-4">{{office.price}}€ la demi-journée</h3>
						<button type="button" class="btn btn-pink p-4 mt-4" data-bs-toggle="modal" data-bs-target="#modalCalendar">Sélectionner vos horaires</button>
						<div class="col-6 mt-5 mb-3" id="start_ui" style="display:none:">
						</div>
						<div class="col-6 mt-5 mb-3" id="end_ui" style="display:none:">
						</div>
					</div>
					<form method="POST" action='{{ path('app_booking_new') }}'>
						<div class="mt-3 mb-5 d-flex flex-column align-items-center justify-content-center">
							<input class="form-control" type="hidden" name="start_date">
							<input class="form-control" type="hidden" name="end_date">
							<input class="form-control" type="hidden" name="office" value="{{ office.id }}">
							<label for="capacity">Télétravailleurs:</label>                         
							<select class="w-50" name="capacity">
								{% for i in 0..office.capacity %}
								<option value="{{i}}">{{i}} Télétravailleurs</option>
								{% endfor %}
							</select>
						</div>
						<hr class="mb-5 mt-4 mb-4"/>
						<div>
							<button type="submit" class="btn btn-pink btn-lg mb-4">Réserver</button>
						</div>
					</form>
					<div>
						<p>Le montant vous sera débiter après validation du loueur</p>
					</div>
				</div>
				
				</div>
				<div class="mt-4 offset-0 offset-lg-8 col-12 col-lg-4 d-none d-lg-block">
				<script>
				var idOffice = {{office.id}};
				</script>
				<div class="mx-auto mb-5">
					{% include './office/map.html.twig' %}
				</div>
			</div>
		</div>
	</div>


	<div class="modal modal-xl" id="modalCalendar" data-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				<div id="calendar"></div>
			</div>
			</div>
		</div>
	</div>
{% endblock %}