<form method="post" action="{{ path('app_period_delete', {'id': period.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ period.id) }}">
    <button class="btn">Delete</button>
</form>
