{% extends 'base.html.twig' %}

{% block title %}Period index{% endblock %}

{% block body %}
    <h1>Period index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateStart</th>
                <th>DateEnd</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for period in periods %}
            <tr>
                <td>{{ period.id }}</td>
                <td>{{ period.dateStart ? period.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ period.dateEnd ? period.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_period_show', {'id': period.id}) }}">show</a>
                    <a href="{{ path('app_period_edit', {'id': period.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_period_new') }}">Create new</a>
{% endblock %}
