{% extends 'base.html.twig' %}

{% block title %}Period{% endblock %}

{% block body %}
    <h1>Period</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ period.id }}</td>
            </tr>
            <tr>
                <th>DateStart</th>
                <td>{{ period.dateStart ? period.dateStart|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateEnd</th>
                <td>{{ period.dateEnd ? period.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_period_index') }}">back to list</a>

    <a href="{{ path('app_period_edit', {'id': period.id}) }}">edit</a>

    {{ include('period/_delete_form.html.twig') }}
{% endblock %}
