{% block stylesheets %}
	<style>
		body {
			background: #FFFFFF;
			margin-left: 25px
		}

		#content {
			margin-top: 75px;
		}

		#sitename {
			position: absolute;
			width: 123px;
			height: 21px;
			left: 98px;
			top: 23px;
			font-style: normal;
			font-weight: 700;
			font-size: 14px;
			line-height: 150%;
			letter-spacing: -0.011em;
			color: #FF2768;
		}

		#docTitle {
			position: relative;
			top: 64px;
			font-style: normal;
			font-weight: 800;
			font-size: 16px;
			line-height: 150%;
			text-align: center;
			letter-spacing: -0.011em;
			color: #FF2768;
		}

		#logo {
			position: absolute;
			width: 64px;
			height: 61px;
			right: 0;
			bottom: 1px;
			border-radius: 50px;
		}

		#footer {
			position: absolute;
			bottom: 10px;
			font-style: italic;
			font-weight: 600;
			font-size: 11px;
			line-height: 150%;
			text-align: center;
			letter-spacing: -0.011em;
			color: #BBBBBB;
		}

		.text {
			position: relative;
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 100%;
			letter-spacing: -0.011em;
		}

		.title {
			margin-top: 10px;
			position: relative;
			font-style: normal;
			font-weight: 700;
			font-size: 14px;
			line-height: 100%;
			letter-spacing: -0.011em;
			text-decoration-line: underline;
			color: #FF2768;
		}
	</style>
{% endblock %}

{% block body %}
	<div id="sitename">
		Around the corner
	</div>
	<div id="docTitle">
		Synthèse du contrat de location entre hote et loueur
	</div>
	<div id="content">
		<div class="text">
			Around the corner et l’Hôte sont liés par un contrat de prestations de services régissant l’intendance et les services nécessaires à la location de courte durée du bien. Les deux parties ont acceptés les CGU de Around the corner pour la mise en locationn via la plateforme around the corner.
													
            Les points clés de ce contrat de prestation sont les suivants :
		</div>
		<div class="title">
			Quelles sont les obligations de l’Hôte ?
		</div>
        <div class="text">
            L'Hôte garentit respecter les obligations légales et règlementaires attachées au bien, ainsi qu'avoir
            réalisé les démarches nécessaires en vue de la mise en location de courte durée.
        </div>
        <div class="title">
			Quelles sont les obligations de hote et les services proposés ?
		</div>
        <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id dui non metus suscipit maximus vitae et mauris. Phasellus tincidunt est quis felis ultricies, et aliquam neque faucibus. Nunc vehicula leo vel nisi consequat, ac accumsan ligula tempus. Aenean sollicitudin lorem et augue condimentum sollicitudin at vel sem. Ut quis facilisis nisi. Aliquam vestibulum, est vitae tristique rutrum, ipsum erat pulvinar mauris, ac ultrices ante nulla sed nisl. In hac habitasse platea dictumst. Vestibulum vestibulum dolor diam, nec cursus massa porttitor vitae. 
        </div>
        <div class="title">
			Quel est le tarif ?
		</div>
        <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id dui non metus suscipit maximus vitae et mauris. Phasellus tincidunt est quis felis ultricies, et aliquam neque faucibus. Nunc vehicula leo vel nisi consequat, ac accumsan ligula tempus. Aenean sollicitudin lorem et augue condimentum sollicitudin at vel sem. Ut quis facilisis nisi. Aliquam vestibulum, est vitae tristique rutrum, ipsum erat pulvinar mauris, ac ultrices ante nulla sed nisl. In hac habitasse platea dictumst. Vestibulum vestibulum dolor diam, nec cursus massa porttitor vitae. 
        </div>
        <div class="title">
			Quel est la durée de ce contrat ?
		</div>
        <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id dui non metus suscipit maximus vitae et mauris. Phasellus tincidunt est quis felis ultricies, et aliquam neque faucibus. Nunc vehicula leo vel nisi consequat, ac accumsan ligula tempus. Aenean sollicitudin lorem et augue condimentum sollicitudin at vel sem. Ut quis facilisis nisi. Aliquam vestibulum, est vitae tristique rutrum, ipsum erat pulvinar mauris, ac ultrices ante nulla sed nisl. In hac habitasse platea dictumst. Vestibulum vestibulum dolor diam, nec cursus massa porttitor vitae. 
        </div>
	</div>
{% endblock %}
