{% block stylesheets %}
	<style>
		body {
			background: #FFFFFF;
			margin-left: 25px
		}

		#docTitle {
			position: relative;
			top: 64px;
			font-style: normal;
			font-weight: 800;
			font-size: 16px;
			line-height: 150%;
			text-align: center;
			letter-spacing: -0.011em;
			color: #FF2768;
		}

		#content {
			margin-top: 75px;
		}

		#sitename {
			position: absolute;
			width: 123px;
			height: 21px;
			left: 98px;
			top: 23px;
			font-style: normal;
			font-weight: 700;
			font-size: 14px;
			line-height: 150%;
			letter-spacing: -0.011em;
			color: #FF2768;
		}

		.text {
			position: relative;
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 100%;
			letter-spacing: -0.011em;
		}

		.title {
			margin-top: 10px;
			position: relative;
			font-style: normal;
			font-weight: 700;
			font-size: 14px;
			line-height: 100%;
			letter-spacing: -0.011em;
			text-decoration-line: underline;
			color: #FF2768;
		}
		.card {

			position: relative;
			width: 253px;
            padding: 5px;
			background: #FFFFFF;
            border: 1px solid;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
			border-radius: 10px;
		}

		.hr {

			position: absolute;
			width: 190px;
			height: 0;
			left: 93px;
			top: 309px;
			border: 0.5px solid #000000;
		}
	</style>
{% endblock %}
{% block body %}
	<div id="sitename">
		Around the corner
	</div>
	<div id="docTitle">
		Votre reçu de Around the corner
	</div>
	<div id="content">
		<div class="card">
			<div class="title">
				{{ office.name }}
			</div>
			<div class="text">
                À {{ office.city }}, {{ office.adress }}<br>
				Du <b>{{ booking.StartDate | date('d-m-Y') }}</b> au <b>{{ booking.EndDate |date('d-m-Y') }}</b><br>
                Pour <b>{{ booking.capacity }}</b> personnes<br><br>

                À payer : {{ office.price }} € par jours
			</div>
		</div>
	</div>
{% endblock %}
