{% extends 'base.html.twig' %}

{% block title %}Notice index{% endblock %}

{% block body %}
    <h1>Notice index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Commentary</th>
                <th>Stars</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notice in notices %}
            <tr>
                <td>{{ notice.id }}</td>
                <td>{{ notice.commentary }}</td>
                <td>{{ notice.stars }}</td>
                <td>
                    <a href="{{ path('app_notice_show', {'id': notice.id}) }}">show</a>
                    <a href="{{ path('app_notice_edit', {'id': notice.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_notice_new') }}">Create new</a>
{% endblock %}
