{% extends 'base.html.twig' %}

{% block title %}Notice{% endblock %}

{% block body %}
    <h1>Notice</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ notice.id }}</td>
            </tr>
            <tr>
                <th>Commentary</th>
                <td>{{ notice.commentary }}</td>
            </tr>
            <tr>
                <th>Stars</th>
                <td>{{ notice.stars }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_notice_index') }}">back to list</a>

    <a href="{{ path('app_notice_edit', {'id': notice.id}) }}">edit</a>

    {{ include('notice/_delete_form.html.twig') }}
{% endblock %}
