.custom_knp_pagination {
    a {
        color: black;
        text-decoration: none;
    }
    .fa-arrow-left {
        margin-right: 5px;
    }
    .fa-arrow-right {
        margin-left: 5px;
    }
    .previous, .next {
        border: 1px solid $lightGray;
        border-radius: 15px;
        padding: 10px 20px;
        &.disabled {
            opacity: 0.5;
        }
    }
    .pageMinAndMax {
        align-self: center;
    }
}