body {
    font-family: 'Cooper Hewitt', sans-serif;
    font-style: normal;
    font-weight: 707;
}

.body-container {
    width: 91%;
}

.Titre {
    position: absolute;
}

.Titre, .FauxTitre {
    font-family: 'Lovelo', sans-serif;
    font-weight: 700;
    padding: 65px 33px;
    margin-top: 135px;
    border-radius: 7px;
}

.FauxTitre {
    color: transparent;
    background-color: #f9f5f1cc;
    backdrop-filter: blur(20px);
}

.Titre h1, .FauxTitre h1 {
    font-size: 65px;
    font-family: 'Lovelo';  
}

.Titre h2, .FauxTitre h2 {
    text-align: end;
    font-family: 'Cooper Hewitt Book', sans-serif;
}

.offices-container {
    @media screen and (min-width: 992px) {
        margin-left: 0;
    }
    .offices-container-search {
        box-shadow: $medium_shadow;
        border-radius: 50px;
        background-color: white;
        padding: 13px 30px 13px 17px;

        input {
            border: none;
            outline: none;
            width: 100%;
            font-size: 20px;
            padding: 10px 15px;

            &::placeholder {
                color: $lightGray;
            }
        }
        i {
            font-size: 24px;
            color: $blue;
        }
    }
    .offices-filter {
        gap: 18px;
        input, select {
            border: none;
            box-shadow: $medium_shadow;
            border-radius: 15px;
            outline: none;
            background-color: white;
        }
        
        input[type=number] {
            width: 100%;
        }
        & > * {
            margin-bottom: 20px;
        }
    }
    .office-item {
        padding: 30px 0;
        border-top: 1px solid lightgray;
        .office-img {
            img {
                box-shadow: $low_shadow;
                border-radius: 15px;
            }
        }
    }
}
.office-infos {
    .office-header {
        h3 {
            margin-bottom: 0;
            font-size: 25px;
        }
        p {
            margin-bottom: 0.4rem;
            font-size: 15px;
        }
        i {
            padding-top: 15px;
            color: $pink;
        }
    }
    .office-stars {
        i {
            color: $blue;
            margin-right: 5px;
        }
    }
    .office-stuff {
        i {
            margin-right: 10px;
        }
    }
}

aside {
    top: 0;
    left: 0;
    background-color: rgb(231, 231, 231);
    width: 27vw;
    height: 95vh;
    margin-top: 2.5vh;
    margin-left: 73vw;
    position: fixed;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: $medium_shadow;
    z-index: -1;
}

#Local1 img,
#Local2 img {
    width: 20vw;
}

#Local3 img {
    width: 13vw;
}

#Local1 {
    position: absolute;
    margin-left: -4vw;
    margin-top: -6vh;
    width: 20vw;
}

#Local2 {
    position: absolute;
    margin-left: 25vw;
    margin-top: 205px;
    width: 20vw;
}

#Local3 {
    position: absolute;
    margin-left: 52vw;
    margin-top: 7vh;
    backdrop-filter: 20px;
    width: 13vw;
}

#ImgPC {
    width: 25vw;
    margin-left: -12vw;
}

#ImgPC img {
    width: 25vw;
}

.offices-container {
    margin-top: 23vh;
    z-index: 1000;
    opacity: 0.9999999;
}

nav {
    box-shadow: $low_shadow;
    top: 0;
    left: 0;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: white!important;
}

li .nav-link svg g path{
    fill: $pourpre!important;
}

li .active svg g path{
    fill: $blue!important;
}

@media screen and (max-width: 992px) {
    .offices-container {
      margin-top: 50px;
    }
    .Titre, .FauxTitre {
        margin-top: 27px;
    }
    .offices-container .office-item {
        padding: 60px 0;
    }
  }