.card-img {
  aspect-ratio: 1/1;
}

#local-4 {
  position: absolute;
  margin-left: 6vw;
  margin-top: 4vh;
  filter: blur(2px);
  width: 14vw;

  img {
    width: 14vw;
  }
}

#local-2 {
  position: absolute;
  margin-left: 36vw;
  width: 8vw;
  filter: blur(2px);
}

#local-3 {
  position: absolute;
  margin-left: 8vw;
  margin-top: 16vh;
  filter: blur(2px);
  width: 8vw;
  z-index: -999;

  img {
    width: 8vw;
  }
}
.profile-informations {
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 15px;

  background: rgba(249, 245, 241, 0.8);
  backdrop-filter: blur(10px);

  border-radius: 7px;
  box-shadow: $medium_shadow;

  span {
    position: absolute;
    align-self: flex-end;
    height: 0;

    .fa-pen {
      transition: all .1s;

      &:hover {
        color: $pink;
      }
    }
  }
  .user-name {
    font-family: 'Lovelo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 150%;
  }

  .user-city {
    font-style: normal;
    font-weight: 705;
    font-size: 36px;
    line-height: 150%;
  }

  .user-profile-picture {
    border-radius: 40px;
  }
}

.user-city {
  font-style: normal;
  font-weight: 705;
  font-size: 36px;
  line-height: 150%;
}

.disposition-desk {
  background: $blue-low-opacity;
  padding: 20px 30px;

  .user-profile-picture {
    border-radius: 40px;
  }
}

.current-booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .booking-title {
    font-style: normal;
    font-weight: 707;
    font-size: 36px;
    line-height: 150%;
  }

  .card {
    border: none;
    background: $white;


    transition: all .2s;

    &:hover {
      box-shadow: $medium_shadow;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
      text-align: center;

      .card-text {
        margin-bottom: 0;
      }

      .card-img {
        box-shadow: $low_shadow;
      }
    }
  }

  .booking-state {
    position: absolute;
    top: -15px;
    right: -15px;

    &::before {
      font-size: 35px;
    }
  }
}

.disposition-desk {
  background: rgba(177, 212, 224, 0.4);
  padding: 20px 30px;
  border-radius: 15px;

  .container-add-desk {
    text-align: center;

    .btn {
      padding: 10px 50px;

    }
  }
}

.lower-profile {
  margin-top: 50px;

  .lower-profile-header {
    text-align: center;

    hr {
      width: 75%;
      margin: 10px auto 30px;
    }

    h2 {
      font-size: 25px;
    }
  }
}

.update-profile-title {
  h6 {
    color: $blue;
  }
}

.update-profile-form {

  .form-check {
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
  }

  label {
    font-size: 24px;
    color: $gray;

    &.desc {
      font-size: 14px;
    }
  }

  .profile-form-field {
    display: flex;
    flex-direction: column;

    .profile-form-control {
      border: none;
      box-shadow: $low_shadow;
      border-radius: 10px;

      padding: 10px 15px;
    }
  }
}

.update-profile-picture {
  display: flex;

  .picture {
    width: 50%;

     img {
       border-radius: 40px;
       box-shadow: $low_shadow;
     }
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;

    button {
      width: 80%;
    }
  }
}

.update-profile-picture-tooltip {
  color: $gray;
  font-size: 16px;
  margin-top: 10px;
}

.office-reservation {
  .state-reservation {
    i {
      font-size: 25px;
    }
  }
}

.update-profile-informations {
  background-color: $blue;
  padding: 25px;
  border-radius: 15px;

  p {
    color: $gray;
  }
}

.update-title {
  font-size: 24px;
  color: $gray;
}