.btn {
  font-style: normal;
  font-weight: 707;

  &.btn-pink {
    color: #fff;
    background: $gradient;
    border: none;
    padding: 10px 15px;

    &:hover {
      background: $gradient-hover;
    }
  }

  &.btn-reserver {
    padding: 5px 20px;
  }

  &.btn-outline-pink {
    color: $pink;
    background: #fff;
    border: 1px solid $pink;
    padding: 10px 15px;

    &:hover {
      color: #fff;
      background: $gradient;
    }
  }

  &.btn-delete {
    cursor: pointer;
    color: $gray;
    border: none;
    text-decoration: underline;
    background-color: transparent;

    transition: all .1s;

    &:hover {
      color: $pink;
    }
  }
}

a {
  color: $pink;

  &:hover {
    color: $pink-hover;
  }
}

.dropdown-item {

  transition: all .1s;

  &:active {
    background-color: $pink;
  }
}

.modal-content {
  border: none;
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

.modal-body {
  border-radius: 15px;
  background-color: $white;
  padding: 3rem;

  .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.modal-backdrop.show {
  background: rgba(20, 16, 16, 0.2);
}

.modal.show {
  backdrop-filter: blur(10px);
}

input, select {
  font-family: 'Cooper Hewitt Book', sans-serif;
  padding: 15px 20px;
}

select {
  background-color: white;
  border: none;
  box-shadow: $low_shadow;
  border-radius: 15px;
  cursor: pointer;
}

.fa-star {
  color: #B1D4E0!important;
  margin-right: 5px;
}

.fa-heart::before {
  font-size: 23px;
}

.mt-4 #mapid {
  width: 400px!important;
  height: 400px!important;
  margin-left: -10px;
}

aside > #mapid div .leaflet-top {
    display: none;
}

.leaflet-bottom {
    display: none;
}

#mapid {
  box-shadow: $low_shadow;
  border-radius: 15px;
  width: 100%!important;
  height: 100%!important;
  filter: saturate(200%);
}

.imgB {
  border-radius: 15px;
  box-shadow: $low_shadow;
  aspect-ratio: 1/1;
  width: 100%;
}

.imgBureau {
  border-radius: 15px;
  box-shadow: $low_shadow;
  width: 100%;
  aspect-ratio: 2/1;
}

p {
  font-family: 'Cooper Hewitt Book', sans-serif;
}

#depart {
  border-bottom-right-radius: 5px;
}

#arrive {
  border-bottom-left-radius: 5px;
}

.fa-pen {
  cursor: pointer;
}

.date {
  border-radius: 15px;
  padding: 15px;
  border: none;
  box-shadow: $low_shadow;
}

nav {
  position: fixed;
  height: 100vh;
  z-index: 10000;
  background-color: white;
}

.form-check-input {
  width: auto;
  height: auto;
  cursor: pointer;
  aspect-ratio: 1/1;
  padding: 10px;
}

.form-check-input:checked {
  background-color: $pink;
  border-color: $pink;
}

@media screen and (max-width: 992px) {
  nav {
    width: 100vw!important;
    height: auto;
  }
  nav ul li .nav-link, nav .dropdown {
    border: none!important;
  }
}

hr {
  color: $gray;
}
.fa-heart {
  cursor: pointer;
}