$pink: #FF2768;
$pink-hover: #e7225d;
$blue: #B1D4E0;
$blue-low-opacity: #B1D4E066;
$pourpre: #410A2B;
$lightGray: #E0DFD8;
$gray: #6C6C6C;
$white: #F9F5F1;
$gradient: linear-gradient(86.63deg, #FF2768 0%, rgba(255, 39, 104, 0.77) 100%);
$gradient-hover: linear-gradient(86.63deg, #e7225d 0%, rgba(224, 28, 87, 0.77) 100%);

$medium_shadow: 0px 2px 8px 1px rgba(20, 16, 16, 0.16);
$low_shadow: 0px 1px 6px rgba(20, 16, 16, 0.16);