<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Around the corner{% endblock %}</title>
  <link rel="icon" href="{{ asset('img/logo.png') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    @font-face {
      font-family: 'Lovelo';
      src: url({{ asset('font/lovelo/Lovelo\\ Line\\ Bold.otf') }})
    }

    @font-face {
      font-family: 'Cooper Hewitt';
      src: url({{ asset('font/cooper-hewitt/CooperHewitt-Medium.otf') }})
    }

    @font-face {
      font-family: 'Cooper Hewitt Book';
      src: url({{ asset('font/cooper-hewitt/CooperHewitt-Book.otf') }})
    }
  </style>
  {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
  {% block stylesheets %}
  {{ encore_entry_link_tags('app') }}
  {% endblock %}

  {% block javascripts %}
  {{ encore_entry_script_tags('app') }}
  {% endblock %}

  {% block javascripts_page %}{% endblock %}
</head>

<body>
  <nav class="d-flex flex-row flex-md-column flex-shrink-0 bg-body-tertiary" style="width: 4.5rem;">
    <a href="/" class="d-block text-center link-body-emphasis text-decoration-none">
      <img class="bi pe-none" src="{{ asset('img/logo.png') }}" alt="">
      <span class="visually-hidden">Icon-only</span>
    </a>
    <ul class="nav nav-pills nav-flush flex-row flex-md-column mb-auto text-center">
      <li class="nav-item">
        <a href="/" class="nav-link active py-3 border-bottom border-top  rounded-0" aria-current="page"
          data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Home" data-bs-original-title="Accueil">
          <svg class="bi pe-none" width="24" height="24" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_74_288" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24"
              height="24">
              <rect width="24" height="24" rx="1" fill="#D9D9D9" />
            </mask>
            <g mask="url(#mask0_74_288)">
              <path
                d="M17 8C17 8.55228 17.4477 9 18 9V9C18.5523 9 19 8.55228 19 8V8C19 7.44772 18.5523 7 18 7V7C17.4477 7 17 7.44772 17 8V8ZM17 12C17 12.5523 17.4477 13 18 13V13C18.5523 13 19 12.5523 19 12V12C19 11.4477 18.5523 11 18 11V11C17.4477 11 17 11.4477 17 12V12ZM17 16C17 16.5523 17.4477 17 18 17V17C18.5523 17 19 16.5523 19 16V16C19 15.4477 18.5523 15 18 15V15C17.4477 15 17 15.4477 17 16V16ZM18 21C17.4477 21 17 20.5523 17 20V20C17 19.4477 17.4477 19 18 19H20C20.5523 19 21 18.5523 21 18V6C21 5.44772 20.5523 5 20 5H12.4729C12.2117 5 12 5.21175 12 5.47295V5.47295C12 5.85916 11.5621 6.08254 11.2494 5.85585L10.413 5.24945C10.1536 5.06135 10 4.7603 10 4.43984V4C10 3.44771 10.4477 3 11 3H22C22.5523 3 23 3.44772 23 4V20C23 20.5523 22.5523 21 22 21H18ZM2 21C1.44772 21 1 20.5523 1 20V11.5146C1 11.1917 1.15597 10.8886 1.41876 10.7009L7.41876 6.41517C7.76646 6.16681 8.23354 6.16681 8.58124 6.41517L14.5812 10.7009C14.844 10.8886 15 11.1917 15 11.5146V20C15 20.5523 14.5523 21 14 21H10C9.44772 21 9 20.5523 9 20V17C9 16.4477 8.55228 16 8 16V16C7.44772 16 7 16.4477 7 17V20C7 20.5523 6.55228 21 6 21H2ZM3 18C3 18.5523 3.44772 19 4 19V19C4.55228 19 5 18.5523 5 18V15C5 14.4477 5.44772 14 6 14H10C10.5523 14 11 14.4477 11 15V18C11 18.5523 11.4477 19 12 19V19C12.5523 19 13 18.5523 13 18V12.5164C13 12.1925 12.8431 11.8886 12.5789 11.701L8.57892 8.86104C8.23222 8.61488 7.76778 8.61488 7.42108 8.86103L3.42108 11.701C3.15693 11.8886 3 12.1925 3 12.5164V18Z" />
            </g>
          </svg>
        </a>
      </li>
    </ul>
    <div>
      <a href="#"
        class="dropdown dropdown-toggle border-top text-center py-3 politic-mentions d-flex align-items-center justify-content-center"
        data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M248 784q53.566 0 104.283 12.5T452 834V407q-45-30-97.619-46.5Q301.763 344 248 344q-38 0-74.5 9.5T100 377v434q31-14 70.5-20.5T248 784Zm264 50q50-25 98-37.5T712 784q38 0 78.5 6t69.5 16V377q-34-18-71.822-25.5Q750.355 344 712 344q-54 0-104.5 16.5T512 407v427Zm-27.821 117Q432 914 372.326 890.5 312.651 867 248 867q-34.146 0-67.073 9.5Q148 886 115 897q-33.1 17-65.55-2.16Q17 875.681 17 837V375q0-25 11-46.3 11-21.3 33-32.7 44-19.5 90.395-27.75 46.394-8.25 94.55-8.25Q310 260 370 277.5T482 332q51-36 110-54t122.055-18q47.813 0 93.879 9T898 296q22 11.4 33.5 32.7Q943 350 943 375v473q0 36.936-33 52.968Q877 917 844 897q-32-12-64.927-21-32.927-9-67.073-9-63.224 0-119.933 24.5Q535.358 916 484.179 951ZM276 595Z"/></svg>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li>
          <a class="dropdown-item" href="#">Conditions Générales de vente</a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <a class="dropdown-item" href="#">Mentions Légales</a>
        </li>
      </ul>
    </div>
    <div class="dropdown border-top">
      <a href="#"
        class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{ app.user and app.user.profilePictureURL ? app.user.profilePictureURL : asset('img/unknown.png') }}"
          alt="photo de profile" class="rounded-circle" width="24" height="24">
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li>
          {% if app.user %}
          <a class="dropdown-item" href="/user/profile">Mon profil</a>
          {% else %}
          <a class="dropdown-item" href="/register">Créer un compte</a>
          {% endif %}
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          {% if app.user %}
          <a class="dropdown-item" href="/logout">Se déconnecter</a>
          {% else %}
          <a class="dropdown-item" href="/login">Se connecter</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid body-container offset-0 offset-lg-1">
    {% block body %}{% endblock %}
  </div>
</body>

</html>