{% extends 'base.html.twig' %}

{% block title %}Around the corner - Mon compte
{% endblock %}

{% block javascripts_page %}
	{{ encore_entry_script_tags('profile') }}
{% endblock %}

{% block body %}
	<div class="row mt-5 mt-lg-0 ">
		<div id="local-4">
			<img src="{{ asset('img/Local4.svg') }}" alt="">
		</div>
		<div id="local-2">
			<img src="{{ asset('img/Local2.svg') }}" alt="">
		</div>
		<div class="col-12 col-lg-6 my-5 my-xl-auto">
			<div class="profile-informations">
				<span data-bs-toggle="tooltip" data-bs-placement="top" title="Modifiez votre profil">
					<i class="fa-solid fa-pen" data-bs-toggle="modal" data-bs-target="#updateUserInformation"></i>
				</span>
				<div class="row p-3">
					<div class="col-8">
						<div class="user-name">
							{{ app.user ? app.user.firstName : 'Prénom inconnu' }}
							{{ app.user ? app.user.lastName : 'Nom
                        inconnu' }}
						</div>
						<div class="user-city">
							{{ app.user ? app.user.city : 'Ville inconnu' }}
						</div>
					</div>
					<div class="col-3">
						<img class="user-profile-picture d-none d-lg-block" width="100%" src="{{ app.user and app.user.profilePictureUrl ? app.user.profilePictureUrl : asset('img/unknown.png') }}" alt="Photo de profil">
					</div>
				</div>
			</div>
		</div>
		<div class="current-booking col-12 col-lg-6 offset-sm-1 offset-lg-0">
			<span class="booking-title">
				Réservation actuelle
			</span>

			<div class="card last-reservation" style="width: 15rem;">
				<div id="local-3">
					<img src="{{ asset('img/Local3.svg') }}" alt="">
				</div>
				{% if not bookings is empty %}
					{% if (bookings|first).state == 1 %}
						<i class="fa-regular fa-circle-xmark text-end booking-state" style="color: #ff2768;" data-bs-toggle="tooltip" data-bs-placement="top" title="Votre réservation est refusée"></i>
					{% elseif (bookings|first).state == 2 %}
						<i class="fa-sharp fa-regular fa-clock text-end booking-state" style="color: #e9875d;" data-bs-toggle="tooltip" data-bs-placement="top" title="Votre réservation est en attente"></i>
					{% elseif (bookings|first).state == 3 %}
						<i class="fa-sharp fa-regular fa-circle-check text-end booking-state" style="color: #98d19e" data-bs-toggle="tooltip" data-bs-placement="top" title="Votre réservation a été acceptée"></i>
					{% endif %}
				{% endif %}
				<div class="card-body">
					{% if not bookings is empty and (bookings|first).state != 4 %}
						<img src="{{ (bookings|first).getOffice().getPictureUrl() }}" class="card-img imgB" alt="Image du bureau">
						<div class="card-description">
							<p class="card-text">{{ (bookings|first).getOffice().name }}</p>
							<h5 class="card-title">{{ (bookings|first).getOffice().adress }}</h5>
						</div>
						<a href="{{path('app_booking_cancel', {'id': (bookings|first).id} )}}" class="btn btn-outline-pink">
							Annuler
						</a>
					{% else %}
						<img src="{{ asset('img/unknown.png') }}" class="card-img imgB" alt="Image du bureau">
						<div class="card-description">
							<p class="card-text">Pas de réservation</p>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-5">
		<div class="row lower-profile">
			<div class="col-12 col-lg-5">
				<div class="lower-profile-header mb-5">
					<h2>Historique des réservations
					</h2>
				</div>
				<hr class="my-4">
				<div class="offices-list">
					{% for booking in bookings %}
						{% include "./home/_officeItem.html.twig" with {'booking': booking, 'office': booking.getOffice(),
                'historic': true } %}
						<div class="d-flex flex-row justify-content-end">
							<a href="{{ path('app_booking_contrat', {'id': booking.id})}}" target="_blank" class="btn btn-pink me-3">contrat</a>
							<a href="{{ path('app_booking_facture', {'id': booking.id})}}" target="_blank" class="btn btn-pink">facture</a>
						</div>
						<hr class="my-4">
					{% endfor %}
					{{ knp_pagination_render(bookings, 'knp_pagination/knp_pagination.html.twig', {}, {'pageMax' :
                (bookings.getTotalItemCount() / bookings.getItemNumberPerPage()) | round(0, 'ceil') }) }}
            </div>
        </div>
        <div class="col-12 col-lg-5 offset-lg-2 mt-5 mb-5 mt-lg-0 p-5 disposition-desk">
            <div class="lower-profile-header">
                <h2>Mes bureaux à disposition</h2>
                <div class="container-add-desk">
                    <button class="btn btn-pink" data-bs-toggle="modal" data-bs-target="#modalBureau" id="triggerAddOfficeModal">Ajouter</button>
                </div>
                <hr>
            </div>
            {% for office in app.user.getOffices() %}
            <div class="office-item row">
                <div class="office-img col-md-5 col-sm-12">
                    <img class="imgB" style="width: 100%; object-fit: cover;" src="{{ office.getPictureUrl() }}" alt="">
                </div>
                <div class="office-infos col-md-7 col-sm-12 my-md-auto mt-4">
                    <div class="office-header row">
                        <div class="office-header-content">
                            <h3>{{ office.name }}</h3>
                            <p>{{ office.adress }}</p>
                        </div>
                    </div>
                    <div>
                        <p class="mb-2"><span>{{ office.price }}</span>€ la demi-journée</p>
                    </div>
                    <div class="office-reservation row">
                        <div class="col-4">
                            <button class="btn btn-pink triggerUpdateOfficeModal" value="{{ office.id }}" data-bs-toggle="modal" data-bs-target="#modalBureau">Modifier</button>
                        </div>
                        <div class="col-5">
                            <button class="btn btn-outline-pink deleteOffice" data-officeId="{{ office.id }}"> <i class="fa-solid fa-trash"></i> Supprimer</button>
                        </div>
                    </div>
                </div>
                <hr class="my-5 mx-auto col-11">
            </div>
            {% endfor %}
        </div>
    </div>
</div>

	{% include("./user/profile/modal-update_profile.html.twig") %}
	{% include("./user/profile/modal-office.html.twig") with {'caracteristics': caracteristics} %}

{% endblock body %}
